$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black-color: #000;
$white-color: #fff;
$red-color: #f00;

button {
  margin: 0 auto;
}

.brand {
  color: $white-color;
  font-family: 'Passion One', cursive;
  font-size: 60px;
  text-decoration: none;
  text-shadow: -2px -2px $black-color, 2px -2px $black-color, -2px 2px $black-color, 2px 2px $black-color;

}

.brand:hover {
  color: $white-color;
  text-decoration: none;
}


.btn {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}

h2 {
  font-size: 50px;
  margin-top: 5px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

.row {
  margin-left: 50px;
  margin-top: 60px;
  text-align: center;
}

.container-fluid {
  margin-bottom: 20px;
  margin-right: auto;
  padding-left: 21px;
  padding-right: 20px;
}

.create {
  border: 2px solid $black-color;
  height: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 800px;
}

#create-instrument-data {
  height: 140px;
  text-align: center;
}

footer {
  background-color: black;
  // margin-top: 20px;
  height: 65px;
  background-color: rgb(44, 44, 44);
}

#instrument-data {
  border: 2px solid $black-color;
  height: 650px;
  margin-top: 20px;
  overflow: scroll;
  text-align: center;
  width: 945px;
}

.icon-bar {
background-color: white;
}

.jumbotron {
  background: url('https://i.imgur.com/69Nj7kA.jpg') no-repeat fixed;
  background-size: cover;
  height: 85vh;
  // height:100vw;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -15px;

}

.jumbotron p {
  color: $white-color;
  display: inline-block;
  font-family: 'Passion One', cursive;
  font-size: 90px;
  // padding-left: 30px;
  text-align: center;
  text-shadow: -2px -2px $black-color, 2px -2px $black-color, -2px 2px $black-color, 2px 2px $black-color;
}

.log-box {
  // border: 4px solid $white-color;
  color: $white-color;
  padding: 15px;
  // background-color: rgba(255, 255, 255, .1);
}

.log-box:hover {
  color: $red-color;
  font-family: 'Passion One', cursive;
  text-decoration: underline;
}

.log-box:active {
  color: $red-color;
  border: 0;
}

.mate {
  color: $red-color;
}


.master-list {
  font-family: 'Roboto', sans-serif;
}

.modal {
  text-align: center;
}

nav {
  height: 80px;
  background-color: rgb(44, 44, 44);
  margin-bottom: 0;
  border: 4px;
}


.navbar {
  border-radius: 0;
}

.navbar-toggle {
  background-color: rgba(255, 255, 255, .15);
  margin-top: 20px;
}

.navbar-nav {
  display: inline-flex;
}


.status {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 40px;
  text-align: center;
}

.status3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color:white;
}

.sticky {
  background-color: $white-color;
  position: sticky;
  top: 0;
}

@media (max-width: 600px) {
  .create{
    width: 725px;
  }

  .jumbotron {
    margin-top: -20px;
    height: 500px;
    background-size: contain;
  }

  .jumbotron p{
    font-size: 30px;
    padding-left: 0px;
  }

  .brand{
    font-size: 40px;
  }

  .container-fluid {
    margin-right: auto;
    padding-left: 21px;
    padding-right: 20px;
  }

  nav {
  height: 40px;
}

.row {
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
}

}
