$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black-color: #000;
$white-color: #fff;
$red-color: #f00;

button {
  margin: 0 auto;
}

.brand {
  color: $white-color;
  font-family: 'Passion One', cursive;
  font-size: 60px;
  text-decoration: none;
  text-shadow: -2px -2px $black-color, 2px -2px $black-color, -2px 2px $black-color, 2px 2px $black-color;

}

.brand:hover {
  color: $white-color;
  text-decoration: none;
}


.btn {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}

h2 {
  font-size: 50px;
  margin-top: 5px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

.row {
  margin-left: 50px;
  margin-top: 60px;
  text-align: center;
}

.container-fluid {
  margin-right: auto;
  padding-left: 21px;
  padding-right: 20px;
}

.create {
  border: 2px solid $black-color;
  height: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 800px;
}

#create-instrument-data {
  height: 140px;
  text-align: center;
}

#instrument-data {
  border: 2px solid $black-color;
  height: 650px;
  margin-top: 20px;
  overflow: scroll;
  text-align: center;
  width: 945px;
}

.jumbotron {
  background: url('https://i.imgur.com/69Nj7kA.jpg') no-repeat fixed;
  background-size: cover;
  height: 600px;
  // background-size: ;
  text-align: center;
}

.jumbotron h1 {
  color: $white-color;
  display: inline-block;
  float: left;
  font-family: 'Passion One', cursive;
  font-size: 80px;
  // font-family: 'Roboto', sans-serif;
  padding-left: 50px;
  text-shadow: -2px -2px $black-color, 2px -2px $black-color, -2px 2px $black-color, 2px 2px $black-color;
}

.jumbotron h2 {
  color: $white-color;
  font-family: 'Passion One', cursive;
  font-size: 80px;
  padding-left: 100px;

  // font-family: 'Roboto', sans-serif;
  text-shadow: -2px -2px #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
}

.log-box {
  // border: 4px solid $white-color;
  color: $white-color;
  padding: 15px;
  // background-color: rgba(255, 255, 255, .1);
}

.log-box:hover {
  color: $red-color;
  font-family: 'Passion One', cursive;
  text-decoration: underline;
}

.mate {
  color: $red-color;
}


.master-list {
  font-family: 'Roboto', sans-serif;
}

.modal {
  text-align: center;
}

nav {
  height: 80px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-nav {
  display: inline-flex;
}


.status {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 40px;
  text-align: center;
}

.status3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sticky {
  background-color: $white-color;
  position: sticky;
  top: 0;
}
